<!DOCTYPE html>
<html xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Spring Security Example</title>
</head>
<!-- Step 7. Login 페이지 구성  -->
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out</div>
	<form th:action="@{/login}" method="post">
		<div><label>User Name : <input type="text" name="username"/></label></div>
		<div><label>Password : <input type="password" name="password"/></label></div>
		<div><input type="submit" value="Sign In"/></div>
	</form> 	
</body>
</html>
<!-- 
이 페이지 구성이 끝나면...
Step 8. 성공적 로그인 후 보여줄 Hello.html을 위해... 
추가 작업을 진행하자. 
 -->
